@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Code+Pro:wght@200&display=swap');

body {
    padding: 3%;
    font-family: "Open Sans", Serif;
}

p {
    font-family: "Source Code Pro", Serif;
}